﻿@{
    Layout = null;
}
@model FizzBuzzApp.Models.FizzBuzzModel
@using System.Web.Optimization
@using PagedList.Mvc;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div>
            <h2>Fizz Buzz Application</h2>
            @using (@Html.BeginForm("GetList", "FizzBuzz", FormMethod.Get))
            {
                @Html.ValidationSummary(true);
                @Html.LabelFor(m => m.Number);
                @Html.TextBoxFor(m => m.Number);
                @Html.ValidationMessageFor(m => m.Number);
                <input type="submit" value="Get List" />
            }
        </div>
        <div>
            @if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Any())
            { 
                <ul>
                    @foreach (var item in Model.FizzBuzzList)
                    {
                        var className = item.Contains(" ") ? string.Empty : item;
                        <li class="@className">@item</li>
                    }
                </ul>
                <p>
                    @Html.PagedListPager((Model.FizzBuzzList), page => Url.Action("GetList", new { Page = page, Number = Model.Number }), PagedList.Mvc.PagedListRenderOptions.ClassicPlusFirstAndLast)
                </p>
            }
        </div>
    </div>
</body>
</html>
